[data-layout="page"] {

	.main {
		flex-flow: row wrap;
	}

	.text-block {
		.text {
			@include justifiedText;
		}
		& + .text-block {
			margin-block-start: 1rem;
		}
	}

	// *:not(.text-block) + .text-block {
	// 	& > *:first-child {
	// 		padding-block-start: 1rem;
	// 		border-block-start: 1px solid;
	// 	}
	// 	& > *:last-child {
	// 		padding-block-end: 1rem;
	// 		border-block-end: 1px solid;
	// 	}
	// }

	.image-block {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.page-block {
		& {
			transform: translateZ(0);
		}
		.globe {
			& {
				position: relative;
				display: block;
				width: 10rem;
				height: 10rem;
				border-radius: 100%;
				box-shadow: 0 0 0 1px;
			}
			&:not([data-size="1"]):not([data-size="2"]):not([data-size="3"]) {
				margin: 10rem;
			}
			*:not(.globe-bubble):not(.globe-bubble *):not(.globe-logo *) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			.globe-background,
			.globe-longitude,
			.globe-latitude {
				& {
					// --colour-text: var(--colour-background-bottom);
				}
				&, * {
					border-radius: 100%;
				}
				* {
					border: 1px solid;
				}
			}
			.globe-background {
				background: radial-gradient(var(--colour-background-top), var(--colour-background-bottom));
				box-shadow: 0 0 0.5rem var(--colour-background-bottom);
				opacity: 0.75;
			}
			.globe-logo {
				& {
					background: radial-gradient(closest-side, var(--colour-background-top), transparent);
					background-size: 75% 75%;
					background-repeat: no-repeat;
					background-position: center;
				}
				& > div {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					animation: 5s logoRotate linear infinite;
					@keyframes logoRotate {
						0% {
							transform: translateX(-50%) translateY(-50%) rotateY(0deg);
						}
						100% {
							transform: translateX(-50%) translateY(-50%) rotateY(360deg);
						}
					}
				}
				svg {
					display: block;
					height: 5rem;
					width: auto;
					fill: var(--colour-text);
					stroke: var(--colour-background-top);
					stroke-width: 2px;
					paint-order: stroke;
					overflow: visible;
					transform: translateZ(0);
					filter: drop-shadow(0 0 0.5rem var(--colour-background-top));
					& * {
						vector-effect: non-scaling-stroke;
					}
				}
			}
			.globe-longitude,
			.globe-latitude {
				transform-style: preserve-3d;
				transform: rotateX(30deg) rotateY(0deg) rotateZ(2.5deg);
				animation: 15s globeRotate linear infinite;
				@keyframes globeRotate {
					0% {
						transform: rotateX(30deg) rotateY(0deg) rotateZ(2.5deg);
					}
					100% {
						transform: rotateX(30deg) rotateY(360deg) rotateZ(2.5deg);
					}
				}
			}
			.globe-longitude {
				& > *:nth-child(1) {
					transform: rotateY(30deg);
				}
				& > *:nth-child(2) {
					transform: rotateY(60deg);
				}
				& > *:nth-child(3) {
					transform: rotateY(90deg);
				}
				& > *:nth-child(4) {
					transform: rotateY(120deg);
				}
				& > *:nth-child(5) {
					transform: rotateY(150deg);
				}
			}
			.globe-latitude {
				& > *:nth-child(1) {
					transform: rotateX(90deg) translateZ(-4rem) scale(0.5581741503);
				}
				& > *:nth-child(2) {
					transform: rotateX(90deg) translateZ(-2rem) scale(0.9164444444);
				}
				& > *:nth-child(3) {
					transform: rotateX(90deg) translateZ(0rem) scale(1);
				}
				& > *:nth-child(4) {
					transform: rotateX(90deg) translateZ(2rem) scale(0.9164444444);
				}
				& > *:nth-child(5) {
					transform: rotateX(90deg) translateZ(4rem) scale(0.5581741503);
				}
			}
			&[data-size="1"] {
				.globe-bubble {
					top: 100%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&[data-size="2"],
			&[data-size="3"],
			&[data-size="4"],
			&[data-size="5"],
			&[data-size="6"],
			&[data-size="7"],
			&[data-size="8"],
			&[data-size="9"],
			&[data-size="10"] {
				.globe-button:nth-child(2) span {
					rotate: 180deg;
				}
			}
			&[data-size="4"],
			&[data-size="5"],
			&[data-size="6"],
			&[data-size="7"],
			&[data-size="8"],
			&[data-size="9"],
			&[data-size="10"] {
				.globe-button:nth-child(3) span {
					rotate: 180deg;
				}
			}
			&[data-size="6"],
			&[data-size="7"],
			&[data-size="8"],
			&[data-size="9"],
			&[data-size="10"] {
				.globe-button:nth-child(4) span {
					rotate: 180deg;
				}
			}
			&[data-size="8"],
			&[data-size="9"],
			&[data-size="10"] {
				.globe-button:nth-child(5) span {
					rotate: 180deg;
				}
			}
			&[data-size="9"],
			&[data-size="10"] {
				.globe-button:nth-child(6) span {
					rotate: 180deg;
				}
			}
			.globe-button {
				rotate: calc(var(--_baseRotation) + 360deg / var(--_size) * var(--_index));
			}
			.globe-bubble {
				@include bubble(
					$position: absolute,
					$top: 50%,
					$right: calc(100% + 1rem),
				);
				& {
					transform: translateY(-50%);
					transform-origin: top right;
				}
				&[aria-current] {
					& {
						background: var(--colour-text);
					}
					span {
						--colour-text: var(--colour-background-top);
					}
				}
				@media (any-hover: hover) {
					&:not([aria-current]):hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.press-block,
	.look-block {
		width: fit-content;
		max-width: 100%;
	}

	.press-block,
	.page-block,
	.look-block,
	.project-block,
	.category-block {
		& {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
		}
		& + .text-block,
		& + .page-block {
			margin-block-start: 1rem;
		}
	}

	.project {
		& {
			display: flex;
			position: relative;
			flex-flow: column nowrap;
			width: 100%;
			padding-block: 1rem;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: calc(-1rem - env(safe-area-inset-left, 0px));
			width: calc(100% + 2rem + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
			height: 100%;
			background: linear-gradient(to bottom, transparent, var(--colour-dominant-background));
			z-index: -1;
		}
		&[data-content="image"],
		&[data-content="video"] {
			& {
				@include floatingProject();
			}
		}
		&[data-content="looks"] {
			& {
				@include floatingProject(
					$background: radial-gradient(closest-side, var(--colour-dominant-background), transparent),
					$opacity: 0.5,
				);
				padding-block-end: 0;
			}
			.project-link {
				margin-block-end: calc(2.375rem / -2);
				transform: translateY(calc(1rem + 2px + 12.5rem - 2.375rem / 2));
			}
			.project-looks {
				height: 30rem;
				@media (max-width: 576px) {
					height: 20rem;
				}
			}
		}
		&[data-content~="image"][data-content~="looks"] {
			.project-looks {
				margin-block-start: -10rem;
				@media (max-width: 576px) {
					margin-block-start: -7.5rem;
				}
			}
			.project-looks[data-size="1"] {
				display: none;
			}
			&[data-is-repeated="true"] {
				& {
					@include floatingProject();
				}
				.project-looks {
					display: none;
				}
			}
		}
		img {
			display: block;
			height: 100%;
			width: auto;
		}
	}

	.project-link {
		& {
			@include bubble(
				$marginBlockStart: calc(2.375rem / -2),
				$marginInline: auto,
				$textColor: var(--colour-dominant-foreground),
				$borderColor: var(--colour-dominant-foreground),
				$background: var(--colour-dominant-background),
				$boxShadowColor: var(--colour-dominant-background),
				$truncate: true,
			);
			order: 2;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.project-image {
		& {
			order: 1;
			height: 30rem;
			@media (max-width: 576px) {
				height: 25rem;
			}
		}
		img {
			margin: auto;
			max-width: 100%;
			object-fit: cover;
		}
		& + .project-looks {
			margin-block-start: 1rem;
		}
	}

	.project-video {
		& {
			height: 20rem;
			width: calc(20rem / 0.5625);
			max-width: 100%;
			@media (max-width: 576px) {
				height: 15rem;
				width: calc(15rem / 0.5625);
			}
		}
		.oembed,
		iframe {
			width: 100%;
			height: 100%;
		}
		.oembed {
			position: relative;
		}
		iframe {
			display: block;
		}
		.placeholder {
			& {
				position: absolute;
				top: 1rem;
				left: 0;
				width: 100%;
				height: calc(100% - 1rem - 1rem - (2.375rem / 2));
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.project-looks {
		& {
			order: 3;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			position: relative;
			left: calc(env(safe-area-inset-left, 0px) * -1);
			height: 20rem;
			width: calc(100% + 2rem + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
			margin-inline: -1rem;
			overflow: hidden;
			mask: linear-gradient(to right, transparent, black 1rem, black calc(100% - 1rem), transparent);
			@media (max-width: 576px) {
				height: 15rem;
			}
		}
		.project-look {
			& {
				height: calc(100% - 0.25rem);
				margin-block-start: 0.125rem;
				margin-inline: clamp(0.5rem, 2.5vw, 5rem);
			}
			&[data-is-repeated="true"] {
				display: none;
			}
			&[data-is-opaque="false"] img {
				filter: drop-shadow(0 0 0.0625rem var(--colour-dominant-foreground));
			}
		}
	}

	.press {
		margin-block-start: 1rem;
		margin-inline: clamp(1.5rem - 1rem, 2.5vw - 1rem, 5rem - 1rem);
	}

	.press-link {
		& {
			display: flex;
			flex-flow: column nowrap;
			padding: 1rem;
			max-width: 20rem;
			background: var(--colour-background-top);
			border: 1px solid;
			border-radius: 1rem;
			box-shadow: 0 0 0.125rem 0 var(--colour-background-top);
			transition: box-shadow 0.05s linear;
		}
		& > * {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				& {
					box-shadow: 0 0 0.25rem 0 var(--colour-background-top);
				}
				.press-title *,
				.press-publisher * {
					color: var(--colour-background-top);
					background: var(--colour-text);
				}
			}
		}
	}

	.press-title {
		& {
			order: 2;
		}
	}

	.press-publisher {
		& {
			order: 3;
			text-align: end;
		}
		&::before {
			content: "→";
		}
		&[dir="rtl"]::before {
			content: "←";
		}
	}

	.press-image {
		& {
			order: 1;
			display: block;
			height: 20rem;
			margin-block-end: 1rem;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.project[data-content="image"] + .project[data-content="image"] + .press {
		& {
			width: 100%;
		}
		.press-link {
			margin-inline: auto;
		}
	}

}