[data-layout="page"] {

	.main {
		flex-flow: row wrap;
	}

	.text-block {
		.text {
			@include justifiedText;
		}
		& + .text-block {
			margin-block-start: 1rem;
		}
	}

	.image-block {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.look-block {
		width: fit-content;
		max-width: 100%;
	}

	.page-block {
		& {
			transform: translateZ(0);
		}
		.page {
			margin: clamp(2.5rem, 3.75vw, 5rem);
			flex-shrink: 0;
		}
		.globe {
			& {
				position: relative;
				display: block;
				width: 10rem;
				height: 10rem;
				border-radius: 100%;
				box-shadow: 0 0 0 1px var(--colour-background-bottom);
			}
			*:not(.globe-bubble):not(.globe-bubble *) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			.globe-background,
			.globe-longitude,
			.globe-latitude {
				& {
					--colour-text: var(--colour-background-bottom);
				}
				&, * {
					border-radius: 100%;
				}
				* {
					border: 1px solid;
				}
			}
			.globe-background {
				background: radial-gradient(var(--colour-background-top), var(--colour-background-bottom));
				box-shadow: 0 0 0.5rem var(--colour-background-bottom);
				opacity: 0.75;
			}
			.globe-longitude,
			.globe-latitude {
				transform-style: preserve-3d;
				transform: rotateX(30deg) rotateY(0deg) rotateZ(2.5deg);
				animation: 15s globeRotate linear infinite;
				@keyframes globeRotate {
					0% {
						transform: rotateX(30deg) rotateY(0deg) rotateZ(2.5deg);
					}
					100% {
						transform: rotateX(30deg) rotateY(360deg) rotateZ(2.5deg);
					}
				}
			}
			.globe-longitude {
				& > *:nth-child(1) {
					transform: rotateY(30deg);
				}
				& > *:nth-child(2) {
					transform: rotateY(60deg);
				}
				& > *:nth-child(3) {
					transform: rotateY(90deg);
				}
				& > *:nth-child(4) {
					transform: rotateY(120deg);
				}
				& > *:nth-child(5) {
					transform: rotateY(150deg);
				}
			}
			.globe-latitude {
				& > *:nth-child(1) {
					transform: rotateX(90deg) translateZ(-4rem) scale(0.5581741503);
				}
				& > *:nth-child(2) {
					transform: rotateX(90deg) translateZ(-2rem) scale(0.9164444444);
				}
				& > *:nth-child(3) {
					transform: rotateX(90deg) translateZ(0rem) scale(1);
				}
				& > *:nth-child(4) {
					transform: rotateX(90deg) translateZ(2rem) scale(0.9164444444);
				}
				& > *:nth-child(5) {
					transform: rotateX(90deg) translateZ(4rem) scale(0.5581741503);
				}
			}
			.globe-button {
				& {
					transform-style: preserve-3d;
					transform: rotateX(-90deg) rotateY(0deg) rotateZ(180deg);
					animation: 15s globeButtonOrbit linear infinite, 15s globeButtonIndex linear infinite;
					@keyframes globeButtonOrbit {
						0% {
							transform: rotateX(-90deg) rotateY(0deg) rotateZ(180deg);
						}
						100% {
							transform: rotateX(-90deg) rotateY(0deg) rotateZ(540deg);
						}
					}
					@keyframes globeButtonIndex {
						0% {
							z-index: 1;
						}
						24% {
							z-index: 1;
						}
						25% {
							z-index: 0;
						}
						74% {
							z-index: 0;
						}
						75% {
							z-index: 1;
						}
						100% {
							z-index: 1;
						}
					}
				}
				.globe-bubble {
					@include bubble(
						$position: absolute,
						$top: calc(100% - (2.375rem / 2) + 1rem),
						$left: 50%,
					);
					& {
						transform: translateX(-50%) rotateX(90deg) rotateY(180deg) rotateZ(0deg);
					}
					& > span {
						animation: 15s globeButtonFlip linear infinite;
						@keyframes globeButtonFlip {
							0% {
								scale: 1 1 1;
							}
							24% {
								scale: 1 1 1;
							}
							25% {
								scale: -1 1 1;
							}
							74% {
								scale: -1 1 1;
							}
							75% {
								scale: 1 1 1;
							}
							100% {
								scale: 1 1 1;
							}
						}
					}
				}
			}
			&[aria-current] {
				.globe-bubble {
					background: var(--colour-text);
				}
				.globe-bubble > span {
					--colour-text: var(--colour-background-top);
				}
			}
			@media (any-hover: hover) {
				&:not([aria-current]):hover .globe-bubble {
					text-decoration: underline;
				}				
			}
		}
	}

	.look-block,
	.project-block,
	.page-block,
	.category-block {
		& {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
		}
		& + .text-block,
		& + .page-block {
			margin-block-start: 1rem;
		}
	}

	.project {
		& {
			display: flex;
			position: relative;
			flex-flow: column nowrap;
			width: 100%;
			padding-block: 1rem;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: calc(-1rem - env(safe-area-inset-left, 0px));
			width: calc(100% + 2rem + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
			height: 100%;
			background: linear-gradient(to bottom, transparent, var(--colour-dominant-background));
			z-index: -1;
		}
		&[data-content="image"],
		&[data-content="video"] {
			& {
				@include floatingProject();
			}
		}
		&[data-content="looks"] {
			& {
				@include floatingProject(
					$background: radial-gradient(closest-side, var(--colour-dominant-background), transparent),
					$opacity: 0.5,
				);
				padding-block-end: 0;
			}
			.project-link {
				margin-block-end: calc(2.375rem / -2);
				transform: translateY(calc(1rem + 2px + 12.5rem - 2.375rem / 2));
			}
			.project-looks {
				height: 30rem;
			}
		}
		&[data-content~="image"][data-content~="looks"] {
			.project-looks {
				margin-block-start: -10rem;
			}
			.project-looks[data-size="1"] {
				display: none;
			}
			&[data-is-repeated="true"] {
				& {
					@include floatingProject();
				}
				.project-looks {
					display: none;
				}
			}
		}
		img {
			display: block;
			height: 100%;
			width: auto;
		}
	}

	.project-link {
		& {
			@include bubble(
				$marginBlockStart: calc(2.375rem / -2),
				$marginInline: auto,
				$textColor: var(--colour-dominant-foreground),
				$borderColor: var(--colour-dominant-foreground),
				$background: var(--colour-dominant-background),
				$boxShadowColor: var(--colour-dominant-background),
				$truncate: true,
			);
			order: 2;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.project-image {
		& {
			order: 1;
			height: 30rem;
		}
		img {
			margin: auto;
			max-width: 100%;
			object-fit: cover;
		}
		& + .project-looks {
			margin-block-start: 1rem;
		}
	}

	.project-video {
		& {
			height: 20rem;
			width: calc(20rem / 0.5625);
			max-width: 100%;
		}
		.oembed,
		iframe {
			width: 100%;
			height: 100%;
		}
		.oembed {
			position: relative;
		}
		iframe {
			display: block;
		}
		.placeholder {
			& {
				position: absolute;
				top: 1rem;
				left: 0;
				width: 100%;
				height: calc(100% - 1rem - 1rem - (2.375rem / 2));
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.project-looks {
		& {
			order: 3;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			position: relative;
			left: calc(env(safe-area-inset-left, 0px) * -1);
			height: 20rem;
			width: calc(100% + 2rem + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
			margin-inline: -1rem;
			overflow: hidden;
			mask: linear-gradient(to right, transparent, black 1rem, black calc(100% - 1rem), transparent);
		}
		.project-look {
			& {
				height: calc(100% - 0.25rem);
				margin-block-start: 0.125rem;
				margin-inline: clamp(0.5rem, 2.5vw, 5rem);
			}
			&[data-is-repeated="true"] {
				display: none;
			}
			&[data-is-opaque="false"] img {
				filter: drop-shadow(0 0 0.0625rem var(--colour-dominant-foreground));
			}
		}
	}

}