[data-layout="project"] {

	.project-lookbook {
		& {
			display: flex;
			flex-flow: row nowrap;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100vh - 2.375rem);
			height: calc(100svh - 2.375rem);
			overflow-x: auto;
			scroll-behavior: smooth;
		}
		// & {
		// 	scrollbar-width: none;
		// 	-ms-overflow-style: -ms-autohiding-scrollbar;
		// }
		// &::-webkit-scrollbar {
		// 	-webkit-appearance: none;
		// 	width: 0;
		// 	height: 0;
		// }
		&[data-size="1"] {
			.lookbook-entry[data-type="video"] {
				.oembed {
					width: calc(100% / 1.5);
				}
			}
		}
	}

	.lookbook-entry {
		& {
			height: 100%;
		}
		&:first-of-type {
			margin-inline-start: auto;
		}
		&:last-of-type {
			margin-inline-end: auto;
		}
		&[data-type="image"] {
			img {
				display: block;
				height: 100%;
				width: auto;
			}
		}
		&[data-type="video"] {
			& {
				display: flex;
				width: 100%;
				flex-shrink: 0;
				padding-block-start: 7.25rem;
				padding-block-end: calc(2.375rem / 2 + 1rem);
				background: var(--colour-background-bottom);
			}
			.oembed {
				position: relative;
				width: calc((100% - (2 * 2.375rem) - 4rem) / 1.5);
				height: fit-content;
				max-width: calc((100vh - 7.25rem - 2.375rem - 2.375rem / 2 - 1rem) / 0.5625);
				max-width: calc((100svh - 7.25rem - 2.375rem - 2.375rem / 2 - 1rem) / 0.5625);
				margin: auto;
			}
			.oembed::before {
				content: "";
				display: block;
				padding-block-start: calc(100% * 0.5625);
			}
			iframe {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			@media (max-width: 576px) {
				& {
					padding-block-start: 2.375rem;
					padding-block-end: 0;
				}
				.oembed {
					width: 100% !important;
				}
			}
		}
	}

	.lookbook-controlers {
		& {
			position: fixed;
			top: calc(50vh - (2.375rem / 2));
			top: calc(50svh - (2.375rem / 2));
			width: 100%;
			height: 2.375rem;
			pointer-events: none;
			padding-inline: calc(1rem + env(safe-area-inset-left, 0px));
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}
		.left,
		.right {
			width: 2.375rem;
			height: 2.375rem;
			flex-shrink: 0;
			flex-grow: 0;
			padding: 0.5rem;
			border: 1px solid;
			border-radius: 100%;
			background: var(--colour-background-top);
			box-shadow: 0 0 0.125rem 0 var(--colour-background-top);
			transition: box-shadow 0.05s linear;
			pointer-events: auto;
			cursor: pointer;
			@media (any-hover: hover) {
				&:hover {
					box-shadow: 0 0 0.25rem 0 var(--colour-background-top);
				}
			}
		}
		svg {
			& {
				display: block;
				width: 100%;
				height: 100%;
				fill: transparent;
				stroke: var(--colour-text);
				stroke-width: 1px;
				overflow: visible;
			}
			& * {
				vector-effect: non-scaling-stroke;
			}
		}
		&[hidden] {
			display: none;
		}
	}

	.project-info {
		& {
			display: flex;
			flex-flow: column nowrap;
			width: calc(100% + 2rem + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
			margin-block-start: calc(100vh - 2.375rem);
			margin-block-start: calc(100svh - 2.375rem);
			padding-inline: calc(1rem + env(safe-area-inset-left, 0px));
			border-block-start: 1px solid;
			background: white linear-gradient(to bottom, var(--colour-background-top), var(--colour-background-bottom));
			min-height: calc(2.375rem + 1rem + 2.375rem);
			position: relative;
		}
		& > * {
			max-width: 100%;
		}
		& > * + * {
			margin-block-start: 1rem;
		}
		.project-description,
		.project-stats {
			&:last-child {
				margin-block-end: 1rem;
			}
		}
	}
	.project-title {
		& {
			@include bubble(
				$marginBlockStart: calc(2.375rem / -2),
				$marginInline: auto,
				$textColor: var(--colour-dominant-foreground),
				$borderColor: var(--colour-dominant-foreground),
				$background: var(--colour-dominant-background),
				$boxShadowColor: var(--colour-dominant-background),
				$truncate: true,
			);
			cursor: pointer;
		}
	}
	.project-description,
	.project-stats {
		.text {
			@include justifiedText;
		}
		& > * {
			margin-inline: auto;
		}
	}
	.project-contributions {
		dd, dt {
			& {
				margin-inline: auto;
				margin-block: 0;
				position: relative;
				padding: 1rem;
				overflow: hidden;
			}
			&:first-child {
				border-radius: 1rem 1rem 0 0;
			}
			&:last-child {
				border-radius: 0 0 1rem 1rem;
			}
		}
		dt {
			background: linear-gradient(to bottom, var(--colour-background-bottom), var(--colour-background-top));
		}
		dd {
			& {
				padding-inline-start: 4.125rem;
			}
			& + dd {
				padding-block-start: 0;
			}
			& > * {
				position: relative;
				z-index: 50;
			}
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				height: 100%;
				background: linear-gradient(to right, var(--colour-background-top), var(--colour-background-bottom));
			}
			&::before {
				left: 0;
				width: 3.125rem;
			}
			&::after {
				left: 3.125rem;
				width: calc(100% - 3.125rem);
			}
		}
	}
	.project-looks {
		.table-header {
			@include visuallyHidden;
		}
		& {
			margin-inline: auto;
			border-spacing: 0;
			border-radius: 1rem;
			overflow: hidden;
		}
		.look-image {
			.look {
				& {
					display: block;
					width: fit-content;
					margin-inline: auto;
					height: 30rem;
				}
				@media (max-width: 768px) {
					& {
						height: 20rem;
					}
				}
				&[data-is-opaque="false"] img {
					filter: drop-shadow(0 0 0.0625rem var(--colour-dominant-foreground));
				}
			}
			img {
				display: block;
				width: auto;
				height: 100%;
			}
			svg {
				& {
					position: absolute;
					top: 1rem;
					left: 1rem;
					display: block;
					width: calc(100% - 2rem);
					height: calc(100% - 2rem);
					fill: var(--colour-background-top);
					filter: blur(0.125rem);
					opacity: 0.125;
					overflow: visible;
				}
				* {
					vector-effect: non-scaling-stroke;
				}
			}
		}
		@media (min-width: 577px) {
			.look-title,
			.look-image,
			.look-description {
				padding: 1rem;
				position: relative;
				vertical-align: top;
			}
			.look-title {
				background: linear-gradient(to right, var(--colour-background-top), var(--colour-background-bottom));
				writing-mode: vertical-lr;
				min-width: 3.125rem;
			}
			.look-image {
				min-width: 5rem;
				background: radial-gradient(closest-corner, var(--colour-background-top), var(--colour-background-bottom));
				img {
					max-width: calc((100vw - 2rem) / 2 - 2.25rem - 3rem);
					object-fit: cover;
				}
			}
			.look-description {
				min-width: 7rem;
				background: linear-gradient(to bottom, var(--colour-background-top), var(--colour-background-bottom));
			}
		}
		@media (max-width: 576px) {
			&,
			.project-look {
				display: flex;
				flex-flow: column nowrap;
			}
			.project-look {
				& + .project-look {
					margin-block-start: 1rem;
				}
				&:not([data-contents~="image"]) {
					.look-title {
						padding-block-end: 0.5rem;
					}
					.look-image {
						display: none;
					}
					.look-description {
						padding-block-start: 0.5rem;
					}
				}
				&:not([data-contents~="description"]) {
					.look-description {
						display: none;
					}
				}
			}
			.look-title,
			.look-image,
			.look-description {
				padding: 1rem;
			}
			.look-title {
				background: linear-gradient(to bottom, var(--colour-background-bottom), var(--colour-background-top));
			}
			.look-image {
				& {
					background: radial-gradient(closest-corner, var(--colour-background-top), var(--colour-background-bottom));
				}
				img {
					max-width: 100%;
					object-fit: cover;
				}
			}
			.look-description {
				background: linear-gradient(to bottom, var(--colour-background-top), var(--colour-background-bottom));
			}
		}
	}
}