@charset "UTF-8";

@font-face {
		font-family: "Neue Montreal";
		src:
			url("/assets/fonts/neueMontreal_regular.woff") format("woff"),
			url("/assets/fonts/neueMontreal_regular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: block;

}

@font-face {
	font-family: "Neue Montreal";
	src:
		url("/assets/fonts/neueMontreal_italic.woff") format("woff"),
		url("/assets/fonts/neueMontreal_italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "Neue Montreal";
	src:
		url("/assets/fonts/neueMontreal_bold.woff") format("woff"),
		url("/assets/fonts/neueMontreal_bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Neue Montreal";
	src:
		url("/assets/fonts/neueMontreal_bold_italic.woff") format("woff"),
		url("/assets/fonts/neueMontreal_bold_italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "XB Shafigh";
	src: url("/assets/fonts/xbShafigh_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "XB Shafigh";
	src: url("/assets/fonts/xbShafigh_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: block;
}