
@charset "UTF-8";

@use "sass:math";
@import "_sass";

html,
body {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	font-size: 16px;
	font-family: "Neue Montreal", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.0;
	overscroll-behavior: auto none;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	color: var(--colour-text);
	font-synthesis: none;
	text-align: inherit;
	text-decoration: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	word-break: normal;
	overflow-wrap: break-word;
	touch-action: manipulation;
}

img,
picture,
[class*="image"] {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	--colour-text: var(--colour-1);
	--colour-background-top: var(--colour-2);
	--colour-background-bottom: var(--colour-3);
	--colour-dominant-foreground: var(--colour-1);
	--colour-dominant-background: var(--colour-3);
}

.text {
	& {
		max-width: calc(768px - 2rem);
		line-height: 125%;
	}
	& + .text {
		margin-block-start: 0.5rem;
	}
	strong {
		font-weight: bolder;
	}
	em {
		font-style: italic;
	}
	.link {
		font-weight: bolder;
		text-decoration: underline;
		text-decoration-style: wavy;
		@media (any-hover: hover) {
			&:hover {
				color: var(--colour-background-top);
				background: var(--colour-text);
				text-decoration: none;
			}
		}
	}
}

[lang="ar"] {
	font-family: "XB Shafigh", serif;
}

body {
	& {
		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
	}
	& > * {
		width: 100%;
		padding-inline: calc(1rem + env(safe-area-inset-left, 0px));
	}
	.header,
	.footer {
		padding-block: 1rem;
	}
	&[data-layout="project"] {
		.header {
			position: fixed;
		}
		.footer {
			position: relative;
			margin-block-start: -1px;
			background: white linear-gradient(to bottom, var(--colour-dominant-background), var(--colour-background-bottom));
		}
	}
	@media (any-hover: hover) {
		background: white linear-gradient(to bottom, var(--colour-background-top) 10%, var(--colour-background-bottom) 100%);
		background-attachment: fixed;
		background-size: 100% 100%;
	}
	@media (any-hover: none) {
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			height: 100vh;
			width: 100%;
			background: white linear-gradient(to bottom, var(--colour-background-top) 10%, var(--colour-background-bottom) 100%);
			background-repeat: no-repeat;
			background-attachment: initial;
			background-size: 100% 100%;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;
			z-index: -1;
		}
	}
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 100;
	pointer-events: none;
	& > * {
		pointer-events: auto;
	}
	@media (min-width: 577px) {
		& > .nav-expand {
			@include visuallyHidden;
		}
	}
	@media (max-width: 576px) {
		& > .logo {
			height: 2.375rem;
		}
		& > .nav {
			&.active {
				position: absolute;
				top: 4.375rem;
				left: 0;
				width: 100%;
				padding-inline: 1rem;
			}
			&.nav:not(.active) {
				@include visuallyHidden;
			}
		}
		& > #nav-button {
			& {
				width: 2.375rem;
				height: 2.375rem;
				flex-shrink: 0;
				flex-grow: 0;
				padding: 0.625rem;
				border: 1px solid;
				border-radius: 100%;
				background: var(--colour-background-top);
				box-shadow: 0 0 0.125rem 0 var(--colour-background-top);
				transition: box-shadow 0.05s linear;
				cursor: pointer;
				@media (any-hover: hover) {
					&:hover {
						box-shadow: 0 0 0.25rem 0 var(--colour-background-top);
					}
				}
			}
			& > span {
				@include visuallyHidden;
			}
			& > svg {
				& {
					display: block;
					width: 100%;
					height: 100%;
					fill: transparent;
					stroke: var(--colour-text);
					stroke-width: 1px;
					overflow: visible;
				}
				& * {
					vector-effect: non-scaling-stroke;
				}
			}
			&[aria-expanded="true"] {
				& {
					background: var(--colour-text);
				}
				& > svg {
					stroke: var(--colour-background-top);
				}
				& + #nav-menu::before {
					content: "";
					display: block;
					position: absolute;
					top: -4.375rem;
					left: 0;
					width: 100%;
					height: calc(100vh + 4.375rem);
					background: white linear-gradient(to bottom, var(--colour-background-top), var(--colour-background-bottom));
					z-index: -1;
				}
			}
		}
	}
}

.logo {
	& {
		height: 5.25rem;
	}
	svg {
		display: block;
		width: auto;
		height: 100%;
		fill: var(--colour-text);
		stroke: var(--colour-background-top);
		stroke-width: 2px;
		paint-order: stroke;
		overflow: visible;
		filter: drop-shadow(0 0 0.0625rem var(--colour-background-top));
		transition: filter 0.05s linear;
		& * {
			vector-effect: non-scaling-stroke;
		}
	}
	@media (any-hover: hover) {
		a:hover svg {
			filter: drop-shadow(0 0 0.125rem var(--colour-background-top));
		}
	}
}

.nav {
	@media (min-width: 577px) {
		& {
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-end;
		}
		.nav-group {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			height: 2.375rem;
			padding: 0.5rem;
			border: 1px solid;
			border-radius: 9999px;
			background: var(--colour-background-top);
			box-shadow: 0 0 0.125rem 0 var(--colour-background-top);
			transition: box-shadow 0.05s linear;
			& + .nav-group {
				margin-block-start: 0.5rem;
			}
			@media (any-hover: hover) {
				&:hover {
					box-shadow: 0 0 0.25rem 0 var(--colour-background-top);
				}
			}
		}
		.nav-link {
			& {
				position: relative;
				padding-block: 0.125rem;
				white-space: nowrap;
			}
			& + .nav-link {
				margin-inline-start: 1rem;
			}
			&:first-child:not([aria-current]) {
				padding-inline-start: 0.5rem;
			}
			&:last-child:not([aria-current]) {
				padding-inline-end: 0.5rem;
			}
			&[aria-current] {
				& > * {
					position: relative;
					--colour-text: var(--colour-background-top);
				}
				& > *:first-child {
					margin-inline-start: 0.5rem;
				}
				& > *:last-child {
					margin-inline-end: 0.5rem;
				}
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: -0.25rem;
					left: -0.25rem;
					width: calc(100% + 0.5rem);
					height: calc(100% + 0.5rem);
					border-radius: 9999px;
					background: var(--colour-text);
				}
			}
			@media (any-hover: hover) {
				&:not([aria-current]):not(.nav-expand):hover > *:not(.nav-subgroup) {
					text-decoration: underline;
				}
			}
		}
		.nav-expand {
			& {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;
				background: none;
				border: none;
				cursor: pointer;
			}
			svg {
				display: inline-block;
				width: 0.625rem;
				height: auto;
				margin-inline-start: 0.3125rem;
				margin-block-start: 0.125rem;
				fill: var(--colour-text);
			}
			&[aria-expanded="true"] {
				& {
					text-decoration: underline;
				}
				svg {
					rotate: 180deg;
				}
			}
			@media (any-hover: hover) {
				&:not([aria-expanded="true"]):hover {
					text-decoration: underline;
				}
			}
		}
		.nav-subgroup {
			& {
				position: absolute;
				top: calc(1rem + 0.5rem + 0.25rem + 1px);
				right: calc(0.875rem - 1px);
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-end;
			}
			&:not(.active) {
				@include visuallyHidden();
			}
		}
		.nav-sublink {
			& {
				@include bubble(
					$marginBlockStart: 0.5rem,
				);
			}
			&[aria-current] {
				& {
					background: var(--colour-text);
				}
				span {
					--colour-text: var(--colour-background-top);
				}
			}
			@media (any-hover: hover) {
				&:not([aria-current]):hover {
					text-decoration: underline;
				}
			}
		}
	}
	@media (max-width: 576px) {
		.nav-group,
		.nav-subgroup {
			display: flex;
			flex-flow: row wrap;
		}
		.nav-group {
			& {
				padding-block: 0.5rem;
				border-block-start: 1px solid;
			}

			&:last-child {
				border-block-end: 1px solid;
			}
		}
		a.nav-link,
		a.nav-sublink {
			& {
				display: block;
				@include bubble(
					$margin: 0.25rem,
					$truncate: true,
				);
			}
			&[aria-current] {
				& {
					background: var(--colour-text);
				}
				span {
					--colour-text: var(--colour-background-top);
				}
			}
		}
		div.nav-link {
			max-width: 100%;
		}
		.nav-expand {
			display: none;
		}
	}
}

.main {
	& {
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}
	& > * {
		width: 100%;
	}
}

.footer {
	& {
		display: flex;
		flex-flow: column nowrap;
		justify-content: end;
		align-items: end;
	}
	.text {
		text-align: right;
	}
}

@import "page";

@import "project";

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}