	{# eleventyConfig.addShortcode("sanityImage", function(
		source,
		element = "div",
		className,
		classNames,
		backgroundRepeat = "no-repeat",
		backgroundSize = "100% 100%",
		backgroundPosition = "center",
		figCaption,
	) {
		if (!source) { return }
		return `
			<${className} ${ classNames ? ` class="${classNames.join(" ")}"` : className ? ` class="${className}"` : "" }${ source?.lqip ? ` style="background-image: url('${source?.lqip}'); background-repeat: ${backgroundRepeat}; background-size: ${backgroundSize}; background-position: ${backgroundPosition};"` : "" }>
				<img src="${ source?.url }" alt="" loading="lazy" width="${ source?.width }" height="${ source?.height }" />${ figCaption ? `<figcaption>${figCaption}</figcaption>` : "" }
			</${className}>
		`
	}) #}
{# 
{% macro sanityImage(source, element = "div", className, classNames, backgroundRepeat = "no-repeat", backgroundSize = "100% 100%", backgroundPosition = "center", figCaption) %}
	<{{ element }}>
	</{{ element }}>
{% endmacro %}

{%- macro navLink(target, isSubgroup = false) -%}
	{%- if target.type == "page" %}
	<a class="nav-{%- if isSubgroup -%} sub {%- endif -%}link" href="{{ settings.baseUrl }}{% if target.address != '/' %}/{% endif %}{{ target.address }}{% if target.address != '/' %}/{% endif %}" {%- set url = page.url.replaceAll("/", "") -%} {%- set address = target.address.replaceAll("/", "") -%} {%- if url == address %} aria-current="page" {%- endif -%} {%- if isSubgroup %} aria-role="menuitem" {%- endif -%}>
		<span>
			{{ target.title }}
		</span>
	</a>
	{%- elif target.type == "external" %}
	<a class="nav-{%- if isSubgroup -%} sub {%- endif -%}link" href="{{ target.address }}" rel="noopener" target="_blank" {%- if isSubgroup %} aria-role="menuitem" {%- endif -%}>
		<span>
			{{ target.title }}
		</span>
	</a>
	{%- endif -%}
{%- endmacro -%} #}