---js
{
	pagination: {
		data: "pages",
		alias: "page",
		size: 1,
		addAllPagesToCollections: true,
		before: function(paginationData) {
			const addresses = paginationData.filter(page => {
				return page.address
			})
			return addresses
		},
	},
	layout: "main.njk",
	tags: "page",
	permalink: "{{ settings.baseUrl }}{{ page.address }}/",
	eleventyComputed: {
		title: "{{ page.title | safe }}"
	},
}
---

		{%- if page.contents -%}
		{%- for block in page.contents %}
		<div class="{{ block.type | replaceCamelCase }}" {%- if block.type == "projectBlock" or block.type == "categoryBlock" %} data-size="{{ block.projects.length }}" {%- endif %}>
			{%- if block.type == "textBlock" %}
			{# text blocks #}
			{%- elif block.type == "imageBlock" %}
			{# image blocks #}
			{%- elif block.type == "projectBlock" or block.type == "categoryBlock" -%}
			{%- for project in block.projects -%}
			{%- if project.image0 -%}
			{%- set image0 = "image-0" -%}
			{%- else -%}
			{%- set image0 = null -%}
			{%- endif -%}
			{%- if project.looks.length > 0 -%}
			{%- set looks = "looks" -%}
			{%- else -%}
			{%- set looks = null -%}
			{%- endif -%}
			{%- set contents = [image0, looks] %}
			<article class="project" data-contents="{{ contents.join(' ') | strip }}" {%- if image0 %} style="--colour-dominant-background: {{ project.image0.palette.background }}; --colour-dominant-foreground: {{ project.image0.palette.foreground }};" {%- endif %}>
				<header class="title">
					<a href="{{ settings.baseUrl }}{{ settings.projectPath }}/{{ project.address }}/">
						<span>
							{{ project.title }}
						</span>
					</a>
				</header>
				{%- if image0 %}
				<div class="image-0" data-aspect-ratio="{{ project.image0.aspectRatio }}">
					<img src="{{ project.image0.url }}" height="{{ project.image0.height }}" width="{{ project.image0.width }}" alt="" />
				</div>
				{%- endif -%}
				{%- if looks %}
				<div class="looks" data-size="{{ project.looks.length }}">
					{%- for look in project.looks %}
					<div class="look" data-aspect-ratio="{{ look.aspectRatio }}">
						<img src="{{ look.url }}" height="{{ look.height }}" width="{{ look.width }}" alt="" />
					</div>
					{%- endfor %}
				</div>
				{%- endif %}
			</article>
			{%- endfor -%}
			{%- elif block.type == "campaignBlock" %}
			{# campaign blocks #}
			{%- endif %}
		</div>
		{%- endfor -%}
		{%- endif %}
