<!DOCTYPE html>
<html lang="en-GB" dir="auto">
<head>
	<title>{%- if title and page.url != "/" -%}{{ title }} • {% endif -%}{{ settings.title }}</title>
	<meta name="description" content="{{ description | default(settings.description) }}">
	<meta name="keywords" content="{{ settings.keywords.join(', ') }}">
	{# <meta name="theme-color" media="(prefers-color-scheme: light)" content=""> #}
	{# <meta name="theme-color" media="(prefers-color-scheme: dark)" content=""> #}
	<meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
	<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	<link rel="canonical" href="{{ settings.url }}{{ settings.baseUrl }}{{ page.url }}">
	<link rel="preload" href="{{ settings.baseUrl }}/assets/css/main.css" as="style">
	<link rel="preload" href="{{ settings.baseUrl }}/assets/css/fonts.css" as="style">
	<link rel="stylesheet" href="{{ settings.baseUrl }}/assets/css/main.css" />
	<link rel="stylesheet" href="{{ settings.baseUrl }}/assets/css/fonts.css" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ settings.url }}{{ settings.baseUrl }}{{ page.url }}">
	<meta property="og:title" content="{%- if title and page.url != '/' -%}{{ title }} • {% endif -%}{{ settings.title }}">
	<meta property="og:description" content="{{ description | default(settings.description) }}">
	{# <meta property="og:image" content=""> #}
	{# <meta property="twitter:card" content="summary_large_image"> #}
	<meta property="twitter:url" content="{{ settings.url }}{{ settings.baseUrl }}{{ page.url }}">
	<meta property="twitter:title" content="{%- if title and page.url != '/' -%}{{ title }} • {% endif -%}{{ settings.title }}">
	<meta property="twitter:description" content="{{ description | default(settings.description) }}">
	{# <meta property="twitter:image" content=""> #}
	<script defer src="{{ settings.baseUrl }}/assets/js/main.js"></script>
	{%- if settings.analytics %}
	{{ settings.analytics | safe }}
	{%- endif %}
</head>
<body {%- if page.fileSlug == "projects" and image %} style="--colour-dominant-background: {{ colourDominantBackground }}; --colour-dominant-foreground: {{ colourDominantForeground }}; --colour-background-bottom: var(--colour-dominant-background);" {%- endif %} data-layout="{{ page.fileSlug }}">
	<header class="header">
		<div class="logo">
			<a href="{{ settings.baseUrl }}/">
				<template>
					{% getImage settings.logo.url, ["svg"], "/assets/media/", "logo" %}
				</template>
				{%- set logo -%}
					{%- injectSvg "/assets/media/logo.svg" -%}
				{%- endset %}
				{{ logo | strip | safe }}
			</a>
		</div>
		<nav class="nav">
			{%- for group in settings.navigation.groups %}
			<div class="nav-group">
			{%- for p in group.pages -%}
				{%- if p.type == "page" %}
				<a class="nav-link" href="{{ settings.baseUrl }}{% if p.address != '/' %}/{% endif %}{{ p.address }}{% if p.address != '/' %}/{% endif %}" {%- set url = page.url.replaceAll("/", "") -%} {%- set address = p.address.replaceAll("/", "") -%} {%- if url == address %} aria-current="page" {%- endif %}>
					<span>
						{{ p.title }}
					</span>
				</a>
				{%- elif p.type == "external" %}
				<a class="nav-link" href="{{ p.address }}" rel="noopener" target="_blank">
					<span>
						{{ p.title }}
					</span>
				</a>
				{%- endif -%}
			{%- endfor %}
			</div>
			{%- endfor %}
		</nav>
	</header>
	<main class="main">
		{{ content | safe }}
	</main>
	<footer class="footer">
		{{ settings.footer | portableTextToHtml | safe }}
	</footer>
</body>
</html>